html{
    background-color: #DDD;
    overflow-y: scroll;
    text-align: justify;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif;
    background-color: #f0f0f0;
    background: #f0f0f0 url('../images/bg.png') repeat;
    color: #333;
    line-height: 1.5;
}

#header {
    background-color: #444;
    color: white;
    margin: 0px;
    padding: 0em 1em 1em 1.5em;
    border-bottom: 2px orange solid;
    background-image: url('http://www.fundacionctic.org/sites/default/files/logo_blanco_ctic_0_0_0.png');
    background-position: 99% 70%;
    background-repeat: no-repeat;
    position:relative;
    overflow: hidden;
    /*box-shadow: 0 0 1em orange;*/
}

a{
    color:#06C;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h1 a {
    text-decoration: none;
    color: white;
    padding-left: 60px;
    padding-bottom:55px;
    line-height:50px;
	background-image: url(../images/tabels48claro.png);
	background-position: 0% 0%;
    background-repeat: no-repeat;
    text-shadow: -1px 1px 2px #000;
}

p.undertitle {
    margin-top: 0px;
    margin-bottom: 0.3em;
    padding: 0px;
    color: #ffffdd;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 85px; 
    text-shadow: -1px 1px 2px #000;
}

#content {
    margin: 1em auto;
    width:90%;
}

h2 {
    color: #333;
    border-bottom: 0.2em orange groove;
    /* padding-left: 0.2em; */
}

#spreadsheet-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;    
}

#drag-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#downloadRDFIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rdfDownloadLink {
/*    background: url(../images/1340204363_agt_update_misc.png) no-repeat; */
    background: url(../images/rdf.png) no-repeat;
    padding-left: 20px;
}

.sparqlLink {
    background: url(../images/sparql.png) no-repeat;
    padding-left: 20px;
}

.chartsLink {
    background: url(../images/1333377532_graph_chart.png) no-repeat;
    padding-left: 20px;    
}

.facetedLink {
    background: url(../images/1333377417_stock_standard-filter.png) no-repeat;
    padding-left: 20px;    
}

.mapLink {
    background: url(../images/1333379639_map.png) no-repeat;
    padding-left: 20px;    
}

.parrotLink {
    background: url(../images/parrot.png) no-repeat;
    padding-left: 20px;    
}

.traceLink {
    background: url(../images/1339618179_start-here.png) no-repeat;
    padding-left: 20px;    
}

.backLink {
    background: url(../images/1333379171_restart-1.png) no-repeat;
    padding-left: 20px;        
}   

.permaLink {
    background: url(../images/1344505874_link.png) no-repeat;
    padding-left: 20px;
}

.csvDownload {
    background: url(../images/1344505919_doc_excel_csv.png) no-repeat;
    padding-left: 20px;
}

div.projectInfo{
	text-align: right;
	padding-bottom: 0.8em;
}
div.projectInfo ul{
	display: inline;
}

div.projectInfo ul li{
display: inline;
list-style-type: none;
}

.renameLink {
    background: url(../images/1340204519_gtk-edit.png) no-repeat;
    padding-left: 20px;            
}

.deleteLink {
    background: url(../images/deleteProject.png) no-repeat;
    padding-left: 20px;            
}

.showTransformationProgramLink {
    background: url(../images/show-hide-transformation.png) no-repeat;
    padding-left: 20px;            
}

#showHideTransformationProgram span{
	cursor: pointer;
	text-decoration:underline;
    color:#06C;
}
.stars {
    color: gold;
    font-size: 11pt;
    text-align: right;
}  

.rdfDatatype {
    color: gray;
}              

.rdfLang {
    color: gray;
}

div .CodeMirror {
    background-color: #ffffdd;
}

#step1 {
    clear:left;
    float: left;
    width: 45%;
    border: 0.2em #666 solid ;
    padding: 1em;
    border-radius: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 0.4em black;
    background-color: #FFF;
    min-width: 450px;
}

#sourceUrl{
    width: 95%;
}

#step2 {
    float: right;
    width: 45%;
    border: 0.2em #666 solid ;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 0.4em black;
    background-color: #FFF;
}

div.stepBox h2 {
    margin-top: 0;
}

#programDiv {
    clear: both;
    /*display:none;*/
}
#showHide span{
    cursor: pointer;
}

/* MESSAGES AND ERRORS */

div.messagebox {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errorsbox {
    background: #fff3f3 url(../images/skin/exclamation.png) 8px 50% no-repeat;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px;
}

/* TABLES */

table {
    width: 100%;
    border:2px #666 solid ; 
    background-color: #FFF;
    box-shadow: 0 0 0.4em black;
}

tr {
    border: 0;
}
tr.odd {
    background: #FEFEFE;
}
tr.even {
    background: #EEE;
}
tr:hover {
    background: #999;
    color: white;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 6px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

table.sparql a {
    text-decoration: none;
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

#map_canvas {
    height: 400px;
    width:100%;
}

div.createProjectBox{
    border: 0.2em #DDD solid ;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 0 0 0.4em black;
	width: 20%;
	float: right;
    background-color: #efefef;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
div#projectListDiv{
	float: left;
	max-width: 70%;
}

div.createProjectBox h2{
	margin-top:0;
	border-bottom: 0.2em #00B8F5 solid;
}

div.createProjectBox input[type=text]{
    width: 90%;
}

ul.projectList h2{
	margin-top:0;
	color: orange;
	border-bottom: 0.2em orange solid;
}

ul.projectList {
	display: inline-block;
	list-style: none;
	margin-bottom: 0em;
}
ul.projectList li{
	float:left;
	margin:1em;
	position: relative;
}

.projectListLink {
    background: white url('../images/tabels-folder.png') no-repeat center top;
    display: inline-block;
    min-width: 128px;
    color: black;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    padding-top:115px;
}

.projectListLinkReadOnly {
    background: white url('../images/tabels-folder-readonly.png') no-repeat center top;
}

.deleteProjectList {
background: rgba(255, 255, 255, 0) url('../images/deleteProject.png') no-repeat left;
height: 24px;
width: 24px;
position: absolute;
display: inline-block;
top: 116px;
right: 45%;
}
form.createProject{
	text-align:center;
}

form.createProject input{
	font-size: 1.2em;
	color: #CDC9C9;
}

form.createProject input.AddProjectButton {
background: rgba(255, 255, 255, 0) url('../images/createProject.png') no-repeat  bottom right;
border:0;
height: 100px;
width: 100%;
top: 22px;
right: 0;
cursor: pointer;
color:rgba(255, 255, 255, 0);
}

table#resource-table tr:nth-child(odd) {background: #FEFEFE}
table#resource-table tr:nth-child(even) {background: #EEE}

table#resource-table tr:hover {
    background: #999;
    color: white;
}

.projectListBox{
	border: 0.2em #666 solid ;
    border-radius: 1em;
    margin-top: 1em;
    box-shadow: 0 0 0.4em black;
    background-color: #FFF;
}

#footer{
	clear:both;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
    border-top: 2px groove #EEE;
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#DDD));
    background: -moz-linear-gradient(top,  #BBB,  #DDD);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBB', endColorstr='#DDD');
    height: 80px;
    line-height: 22px;
}

#footer span {
    margin: 0em;
    padding: 0em;
}

#footer a{
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline;
}

#footer img{
	display: inline;
	margin-right: 0.2em;
}

#triplesCount{
	font-weight: bold;	
}

br.clear{
	clear:both;
}

.autogenerateForm{
    float:right;
    position:relative;
    top:-2px;
}

input[type=text] {
    border: 1px solid #c4c4c4;
    height: 14px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

textarea{
    border: 1px solid #c4c4c4;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

label, label span{
    vertical-align: top;
}


.ss-q-title{
    width: 100px;
    display: inline-block;
}

.ss-required-asterisk{
    font-size: 12px;
    color:red;
}

.sourceUrlText{
   
}

.showHide{
    clear:both;
}

.showHide span{
    /*float:right;*/
    margin-left:1em;
    font-size: 16px;
    /*line-height: 1.5em;
    font-size: 0.6em;
    color: #555;
    vertical-align: bottom;*/
}

#projectListDiv form{
    overflow:auto;
}

#projectListDiv form input.searchbox {
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     border:1px solid #8e8e8e;
     background-color:#f5f5f5;
     height:17px;
     padding:4px;
     padding-right:28px;
     color:#4a4a4a;
     float:left;
     margin-top:20px;
     margin-left:20px;
     font-size:16px;
 }

#projectListDiv form input.button{
    border:0;
    padding:0;
    margin:21px 0 0 -34px;
    width:24px;
    height:24px;
    background:transparent url('../images/icon-search.png') center center  no-repeat;
    float:left;
}

.projectList{
    margin-top:0px;
}

ul, li {
list-style-type:none;
/*padding:0;*/
/*margin:0;*/
}
#crumbs {
    border-radius: 5px;
border:1px solid #dedede;
background-color: #FFF;
width:100%;
height:24px;
float:left;
margin-bottom:10px;
padding-left:0px;
}

.crumbsBlock{
    float:none !important;
    width:100% !important;
}

#crumbs li {
float:left;
line-height:24px;
padding-left:.75em;
color:#777;
}

#crumbs li a {
display:inline-block;
padding:0 15px 0 0;
background:url(../images/crumbs.gif) no-repeat right center;
text-decoration: none;
color: #333;
}

#crumbs li a:hover{
    text-decoration: underline;
}

.homePage{
    width:80%;
    margin: 1em auto;
    padding:0px 2% 2% 2%;
    vertical-align: top;
}

.left{
    float:left;
    width:75%;
}

.right{
    float:right;
    width:20%;
    margin-top:2em;
    text-align: center;
}

.clear{
    clear:both;
}

.title{
    width:95%;
    text-align:left !important;
    margin-bottom: 0.3em !important;
    padding-left:1em !important;
}

.title div{

}

.demo{
    display: block;
    background: url(../images/demo.png) no-repeat center top;
    height: 170px;
    width:200px;
    padding-top: 135px;
    text-decoration: none;
}

.homePage li{
    list-style: disc;
    margin-left:1em;
}

.homePage ol>li{
    list-style: decimal;
}

.screenshot{
    float: right;
    background-color: white;
    border: 1px solid #666;
    padding:5px;
    margin: 10px 20px;
}

.screenshotLeft{
    float: left;
}

.screenshot img{
    width:200px;
}

.beta{
    position:relative;
    top: -10px;
    left:5px;
}

.smallText{
    font-size: 80%;
}

code {
    font-size: 14px;
}

.percentage{
    width:200px !important;
}

#feedback{
    background-color: #0c5276;
    width:35px;
    text-align: right;
    position: fixed;
    top: 150px;
    left:-5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#feedback:hover{
    background-color: #ee7c00;
}