/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}  
                        
	
/*GENERAL*/
#container{
 	width: 100%;
  	margin: auto;
  	padding: 0px;
}

#leftContainer{
	float:left;
	clear:none;
 	width: 19%;
  	padding: 0px;
}

#rightContainer{
 	width: 80%;
 	float:right;
	clear:none;
  	height: 500px;
  	padding: 0px;
}

#mapGoogle{
	width: 100%;
  	height: 500px;
    border: 0.2em #666 solid ;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    box-shadow: 0 0 0.4em black;
    background-color: #FFF;
}

#layerMap, #layerTree{
	padding-bottom: 10px;	
	border: 1px solid #000; 
    border: 0.2em #666 solid ;
    padding: 1em;
    border-radius: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
    box-shadow: 0 0 0.4em black;
    background-color: #FFF;
}

#layerMap h3{
	text-align: center;
	color: orange;	
	line-height: 0.5;
	margin:0.7em 0em;
}

.introLegend{
	padding: 3px 0 5px 3px;
	margin: 0 0 1px 0;
	border: 1px solid #000; 
}

#tree, #legend{
	display: none;
}

#visualize{
	width: 100%;
	margin: 0 0 10px 0;
}

.centerButton{
	margin: 0px auto;
	width:50%;
}

